<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="tab1">
			<ion-icon src="assets/icon/icon-schedule.svg" style="zoom:2;"></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="tab2">
			<ion-icon src="assets/icon/icon-kid.svg" style="zoom:2.5;  "></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="tab3">
			<ion-icon src="assets/icon/icon-bell.svg" style="zoom:2; "></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="tab4">
			<ion-icon src="assets/icon/icon-more.svg" style="zoom:2; "></ion-icon>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
