<ion-content>
	<div class="header"></div>
	<ion-list *ngIf="notifications">
		<ion-item>
			<ion-label>
				<b>New</b>
			</ion-label>
		</ion-item>

		<ion-item *ngFor="let n of notifications.notifications | keyvalue">
			<ion-label text-wrap> {{ n.value.title }} </ion-label>
		</ion-item>
	</ion-list>
</ion-content>
