<ion-content class="bg-content">
	<div class="header"></div>

	<ion-segment
		color="primary"
		mode="md"
		class="soccerschool-segment"
		[(ngModel)]="classType"
	>
		<ion-segment-button value="new" mode="md">
			<ion-label>Upcoming Classes</ion-label>
		</ion-segment-button>

		<ion-segment-button value="makeup" mode="md">
			<ion-label>Makeup Classes</ion-label>
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="classType">
		<div *ngSwitchCase="'new'">
			<div *ngIf="upcomingSchedule">
				<ion-card
					*ngFor="let u of upcomingSchedule.schedule | keyvalue"
					mode="md"
				>
					<ion-item
						detail
						noborder
						lines="none"
						[routerLink]="['program-detail/' + u.value.id]"
					>
						<ion-grid>
							<ion-row>
								<ion-col size="3" align-self-center>
									<ion-icon
										src="assets/img/icon-sched-kid.svg"
										style="zoom:5; "
									></ion-icon>
								</ion-col>

								<ion-col size="9">
									<ion-grid>
										<ion-row>
											<ion-col>
												{{ u.value.program_date }}
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col size="6"
												><ion-icon name="alarm"></ion-icon>
												{{ u.value.program_time }}</ion-col
											>
											<ion-col
												><ion-icon name="pin"></ion-icon>
												{{ u.value.program_venue }}</ion-col
											>
										</ion-row>
										<ion-row>
											<ion-col size="8">
												<ion-badge color="primary">{{
													u.value.kid_name
												}}</ion-badge
												>&nbsp;
											</ion-col>
											<ion-col style="text-align: right;" size="4">
												<ion-icon
													*ngIf="u.value.attending == 1"
													style="zoom:2; "
													name="checkmark-circle"
													color="success"
												></ion-icon>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
				</ion-card>
			</div>
		</div>

		<div *ngSwitchCase="'makeup'"></div>
	</div>
</ion-content>
