.map{
    height: 100%;
}

ion-content{
   

    background-color: #E8ECF1;
    background-size: 100%;
    min-width: 100%;
    background-position: center center;
    position: relative;
  
}


.mt{ top:50%; min-height: 100px; position: absolute;  }