<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Schedule Detail</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content *ngIf="detail">
	<ion-list padding>
		<ion-item>
			<ion-icon
				name="document"
				slot="start"
				style="color:#1D4CA1; zoom:2;"
			></ion-icon>
			<ion-label text-wrap>{{ detail.term }}</ion-label>
		</ion-item>
		<ion-item>
			<ion-icon
				name="calendar"
				slot="start"
				style="color:#1D4CA1;  zoom: 2;"
			></ion-icon>
			<ion-label text-wrap>{{ detail.date }}</ion-label>
		</ion-item>
		<ion-item>
			<ion-icon
				name="time"
				slot="start"
				style="color:#1D4CA1;  zoom: 2;"
			></ion-icon>
			<ion-label>{{ detail.time }}</ion-label>
		</ion-item>
		<ion-item>
			<ion-icon
				name="pin"
				slot="start"
				style="color:#1D4CA1;  zoom: 2;"
			></ion-icon>
			<ion-label text-wrap>
				<b>{{ detail.venue }}</b
				><br />
				{{ detail.address }}
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-icon
				name="contact"
				slot="start"
				style="color:#1D4CA1;  zoom: 2;"
			></ion-icon>
			<ion-label>{{ detail.kid_name }}</ion-label>
		</ion-item>
		<ion-item>
			<ion-icon
				name="contacts"
				slot="start"
				style="color:#1D4CA1;  zoom: 2;"
			></ion-icon>
			<ion-label>{{ detail.agegroup }} Age group</ion-label>
		</ion-item>
	</ion-list>

	<ion-grid>
		<ion-row *ngIf="detail.attending != 1" lines="none">
			<ion-col>
				<ion-icon
					src="assets/img/icon-attend.svg"
					style="width:102px; height:98px; "
					(click)="attend()"
				></ion-icon>
				<ion-icon
					src="assets/img/icon-book.svg"
					style="width:102px; height:98px;"
					[routerLink]="['makeup-class']"
				></ion-icon>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="detail.attending == 1" lines="none">
			<ion-col
				><ion-icon
					src="assets/img/icon-cancel.svg"
					style="width:102px; height:98px;"
					(click)="cancel()"
				></ion-icon
			></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
