// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


body{
    background: #E5E5E5;
    color:#333;
}
ion-content{
 
    --background: #E5E5E5;
}


.header{
    background-image: url(../assets/img/header.png);
    height: 176px;
    background-size: 100%;
    background-position: center center;
    position: relative;
    
}



.soccerschool-segment{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E5E5E5;
}






