<ion-content>
	<div class="header"></div>
	<ion-card mode="md">
		<ion-list>
			<ion-item detail>
				<ion-label>My Profile</ion-label>
			</ion-item>
			<ion-item detail>
				<ion-label>Change Password</ion-label>
			</ion-item>
			<ion-item detail>
				<ion-label>Venues</ion-label>
			</ion-item>
			<ion-item detail lines="none" (click)="logout()">
				<ion-label>Logout</ion-label>
			</ion-item>
		</ion-list>
	</ion-card>
</ion-content>
