<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Schedule Detail</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-segment mode="md" color="primary">
			<ion-segment-button value="friends" mode="md">
				<ion-label>Detail</ion-label>
			</ion-segment-button>
			<ion-segment-button value="enemies" mode="md">
				<ion-label>Schedule</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label position="stacked">Firstname</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Lastname</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Birthdate</ion-label>
			<ion-input type="date"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Nationality</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">School</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item lines="none">
			<br />
			<ion-button size="large" color="primary">Save</ion-button>
		</ion-item>
	</ion-list>
</ion-content>
