ion-icon {
    &[class*="custom-"] {
       mask-size: contain;
       mask-position: 50% 50%;
       mask-repeat: no-repeat;
       background: currentColor;
       width: 1em;
       height: 1em;
    }
    &[class*="custom-schedule-icon"] {
       mask-image: url(/assets/img/icon-schedule.svg);
    }
   
 }