<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Choose Makeup Class</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item detail *ngFor="let m of [1, 2, 3, 4, 5, 6, 7, 8]">
			<ion-label text-wrap>
				Monday Jul 12 2019 , 05:30 PM @ CIS Lakeside
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
