ion-content{
    --background: url("../../../assets/img/bg.png") ;
    background-attachment: fixed;
    background-color: #E8ECF1;
    background-size: 100%;
    min-width: 100%;
    background-position: center center;
    position: relative;
  
}

.bg-curved{
    background-image: url(../../../assets/img/curved.svg);
    background-repeat: no-repeat;
    position: absolute;
    min-width: 100%;
    background-size:cover;
    height:291px;
    bottom: 0px;
    
}

.locked{
   margin: auto;
   margin-top:-30px;
}

.input-container{
    width: 280px;
    margin:auto;
}

.input-container ion-input{
    height: 55px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
    padding: 10px!important;
}
.logo2{
    margin-top: 20%;
}

.btn_login{
    height:55px!important;

}