<ion-content text-center>
	<img src="assets/img/logo.png" class="logo2" height="232" width="232" />

	<div class="bg-curved">
		<img src="assets/img/lock.png" class="locked" height="72" width="72" />

		<br /><br />
		<div class="input-container">
			<form>
				<ion-input
					placeholder="Email"
					[(ngModel)]="email"
					name="email"
				></ion-input>
				<ion-input
					placeholder="Password"
					[(ngModel)]="password"
					name="password"
					type="password"
				></ion-input>
				<ion-button
					(click)="login()"
					expand="block"
					color="primary"
					style="height:55px;"
					size="large"
					>Login</ion-button
				>
			</form>
		</div>
	</div>
</ion-content>
