<ion-content>
	<div class="header"></div>
	<div *ngIf="kids">
		<ion-card mode="md" *ngFor="let k of kids.kids | keyvalue">
			<ion-item
				detail
				noborder
				lines="none"
				[routerLink]="['user-detail/' + k.value.id]"
			>
				<ion-grid>
					<ion-row>
						<ion-col size="8">
							<p>{{ k.value.firstname }} {{ k.value.lastname }}</p>
							<ion-badge color="primary">{{ k.value.agegroup }}</ion-badge>
						</ion-col>
						<ion-col size="4" align-center> </ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ion-card>
	</div>
</ion-content>
